* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
background-image: url(images/sd.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
  /* background: linear-gradient(
    90deg,
    rgba(17, 104, 235, 0.568) 0%,
    rgba(29, 65, 0, 0.349) 100% */
  
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 45%;
  min-height: 600px;
  background: rgba(10, 8, 8, 0.404);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  box-shadow: 2px 5px 18px 6px rgba(70, 70, 70, 0.986);
}

.important-btn {
  margin-right: 5px;
  width: 20px;
  border-width: 1px;
  border-radius: 49%;
  padding: 1px;
  border-color: white;
  color: white;
  background: transparent;
}

h1 {
  margin: 32px 0;
  font-size: 33px;
}

.complete {
  text-decoration: line-through;
}

.todo-form {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-around;
}

.todo-input {
  display: flex;
  justify-content: space-evenly;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid rgba(17, 120, 255, 0.418);
  outline: none;
  width: 60%;

  background-color: rgba(12, 8, 8, 0.342);
  color:white;

  
}

.todo-button {
  display: flex;
 justify-content: space-evenly;
 width: 15%;
  position: absolute;
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
 
   background-color: rgb(0, 110, 255);
   margin-top: 50px;

  color: white;
  text-transform: capitalize;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(3, 3, 3, 0.425) 0%,
    rgba(8, 9, 10, 0.596) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
  margin-top: 50px;
}

.iconsContainer {
  justify-content: space-around;
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;

}

.seperator {
  height: 1px;
  width: 80%;
  align-self: center;
  background-color: black;
}
@media  only screen and (max-width:600px){
       .todo-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
      width: 100%;
         
       }
       .todo-button{
          display: flex;
          justify-content: space-around;
          flex-direction: column;
          width: 42%;
          padding-left: 50px;
    

       }
   
}